# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: JDK 11

on:
  push:
    branches: [ 3.x ]
  pull_request:
    branches: [ 3.x ]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.4.0
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        distribution: 'zulu'
        java-version: '11'
    - name: Cache Gradle packages
      uses: actions/cache@v2.1.7
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-1-${{ hashFiles('**/*.gradle') }}
        restore-keys: ${{ runner.os }}-gradle-1-
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Verify generated module-info
      run: ./gradlew -PjavaCompatibility=9 jar
    - name: Build RxJava
      run: ./gradlew build --stacktrace
    - name: Generate Javadoc
      run: ./gradlew javadoc --stacktrace
